<!-- navigation bar -->
<header>
  <nav class="navbar navbar-dark bg-primary container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="navbar-brand align-item-center d-flex">
          <strong style="font-size: 30px;" class="m-2">E-Cart</strong>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>

      </div>
    </div>





    <div class="row">

      <div class="col-3">
        <button type="button" class="btn btn-dark btn-sm">Cart <span class="badge badge-light">{{countofCart}}</span>
        </button>
      
      </div>

      <div class="col-3">
        <button type="button" class="btn btn-dark btn-sm">Wishlist <span class="badge badge-light">{{countofWishlist}}</span>
        </button>
      </div>

      <!-- <div class="col-4">
        <button type="button" class="btn btn-secondary" routerLink="cart">Cart</button>
      </div> -->

      <!-- <div class="col-3">
        <button type="button" class="btn btn-secondary" routerLink="wishlist">Wishlist</button>
      </div> -->

      <div class="col-5">
        <button type="button" class="btn btn-success" *ngIf="loggedOut" routerLink="login">Login</button>
      </div>
    </div>


  </nav>
</header>